<div class="container">
  <h1>Bienvenido a Ecommerce Becker</h1>
  <ul class="product-list" role="list">
    {{#each products}}
      <li class="product-item">{{this.title}} - ${{this.price}}</li>
    {{/each}}
  </ul>
</div>